#auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;

    margin: 1rem 1rem;
    padding: 1rem;
    background-color: var(--darker-background);
}

#auth-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;

    width: 100%;
    padding: 1rem;
    text-align: left;
}

#auth-page form input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--accent-color);
    border-radius: 0.5rem;
}

#auth-page form button {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--accent-color);
    border-radius: 0.5rem;
}

#auth-page form button:disabled {
    background-color: var(--darker-background);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

#auth-page form p.error-message {
    width: 100%;
    color: var(--error);
    font-size: 0.8rem;
}

#auth-page .link-button {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    text-decoration: underline;
}